.postCard {
  width: 500px;
  height: fit-content;
  padding: 20px;
  border: 2px solid #b2b2b2;
  border-radius: 10px;
}

.postTitle {
  font-size: 20px;
  color: var(--font-color);
}

.postDescription {
  color: var(--font-color);
}
