.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card {
  width: 500px;
  height: fit-content;
  padding: 20px;
  border: 3px solid #068620;
  border-radius: 10px;
}
